<div>
  <!-- <app-page-header [heading]="'Event Management'" [icon]="'fa fa-fw fa-home'"></app-page-header> -->
  <div class="loading-indicator" *ngIf="dataSource.loading$ | async">
      <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div class="row">
      <div class="col col-lg-12">
          <div class="card mb-6">
              <div class="card-header">
                  Event List
                  <button class="bt_create" mat-icon-button color="default" [routerLink]="['../event-creator']">
                      <mat-icon class="md-24" fontSet="fa" fontIcon="fa-plus"></mat-icon>
                  </button>
              </div>
              <div class="card-body table-responsive">
                  <mat-form-field>
                      <input matInput eventholder="Search events" #input>
                  </mat-form-field>

                  <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>
                      <ng-container matColumnDef="id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="id"> No. </mat-header-cell>
                          <mat-cell *matCellDef="let event">{{event.id}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name </mat-header-cell>
                          <mat-cell *matCellDef="let event">{{event.name}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                          <mat-cell *matCellDef="let event">{{event.description}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="status">
                          <mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </mat-header-cell>
                          <mat-cell *matCellDef="let row; let event">{{event.status === 'A' ? 'Actice' : 'Inactive'}}</mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="controller">
                          <mat-header-cell *matHeaderCellDef></mat-header-cell>
                          <mat-cell *matCellDef="let event">
                              <div>
                                  <button mat-icon-button color="default" [routerLink]="['../event-editor', event.id]">
                                      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
                                  </button>
                                  <button mat-icon-button color="warn" (click)="deleteEvent(event)">
                                      <mat-icon fontSet="fa" fontIcon="fa-trash-o" style="left: 5%"></mat-icon>
                                  </button>
                              </div>

                          </mat-cell>
                      </ng-container>
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                  <mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>
              </div>
          </div>
      </div>
  </div>
  
</div>

