<div class="form-group input-group">
  <input [(ngModel)]="term" (keypress)="onTermKeypress($event)"  #ctrl="ngModel" type="text" class="form-control" placeholder="Search for a user information" />
  <div class="input-group-append">
      <button (click)="searchByTerm()" class="btn btn-secondary" type="button"><i class="fa fa-search"></i></button>
  </div>
</div>


<div *ngIf="page" class="form-group form-inline">
    <div class="col-auto p-0"><button (click)="prevPage($event)" [disabled] = "page.prev_page_url == null" class="btn btn-icon btn-round btn-outline-secondary" type="button"><i class="fa fa-angle-left"></i></button></div>
    <div class="col text-center">{{ page.current_page }} / {{ page.last_page }}</div>
    <div class="col-auto p-0"><button (click)="nextPage($event)" [disabled] = "page.next_page_url  == null" class="btn btn-icon btn-round btn-outline-secondary" type="button"><i class="fa fa-angle-right"></i></button></div>
</div>
<ul *ngIf="page" class="list-group">
  <li *ngFor="let user of page.data" [class.active]="activeUser == user" class="list-group-item" (click)="selectUser(user)">
      <button class="pull-right btn btn-icon btn-round btn-outline-danger" (click)="deleteUser(user)"><i class="fa fa-trash-o"></i></button>
    <img class="img img-round" src="http://placehold.it/32x32" />
    {{user.email}}
  </li>
</ul>
