<div mat-dialog-title>
    <h1>Warning!!</h1>
</div>
<div mat-dialog-content>
    <p>Do you want to delete {{place.name}}?</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()" cdkFocusInitial>OK</button>
    <button mat-raised-button (click)="onCloseCancel()">Cancel</button>
</div>
