<div>
    <app-page-header [heading]="'User Management'" [icon]="'fa fa-fw fa-users'"></app-page-header>
    <div class="loading-indicator" *ngIf="loading$ | async">
        <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-6">
                <div class="card-body">
                    <div class="row">
                        <div class="col col-sm-12 col-md-6 col-lg-4" [class.hidden-sm]="user">
                            <app-user-list></app-user-list>
                        </div>
                        <div class="col col-sm-12 col-md-6 col-lg-8">
                            <app-user-detail></app-user-detail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>