<div class="page-header">
	<h4>
		<button (click)="deselectUser($event)" class="btn btn-icon btn-round btn-outline-success" color="default">
			<i class="fa fa-angle-left"></i>
		</button>

		<button class="btn btn-icon btn-round btn-outline-primary pull-right" (click)="createUser($event)">
			<i class="fa fa-plus"></i>
		</button>
		User Information
	</h4>
	<hr>
</div>
<div *ngIf="user" class="row">

	<div class="col-lg-6">
		<div class="img-container">
			<a>
				<img class="img-thumbnail" [src]="user.avatar" alt="">
				<div class="action-bar">
					<button class="btn">
						<input type="file" (change)="onSelectFile($event)" />
						<i class="fa fa-upload"></i>
					</button>
					<button class="btn">
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-6">
		<form role="form">
			<fieldset class="form-group">
				<label for="email">Email</label>
				<input [(ngModel)]="user.email"  [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email" #email>
			</fieldset>
			<fieldset class="form-group">
				<label for="firstName">FirstName</label>
				<input [(ngModel)]="user.firstName" #name="ngModel" [ngModelOptions]="{standalone: true}" required minlength="4" type="text" class="form-control" id="firstName" >
			</fieldset>
			<fieldset class="form-group">
				<label for="LastName">LastName</label>
				<input [(ngModel)]="user.lastName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="LastName" >
			</fieldset>
			<fieldset class="form-group">
				<label for="phoneNo">phoneNo</label>
				<input [(ngModel)]="user.phoneNo" #name="ngModel" [ngModelOptions]="{standalone: true}" required minlength="4"  type="text" class="form-control" id="phoneNo" >
			</fieldset>

			<fieldset class="form-group">
				<button type="submit" class="btn btn-outline-success" (click)="saveUser($event)">Save</button>
				<button type="button" class="btn btn-outline-secondary" style="margin-left: 5px" (click)="reset()">Reset</button>
			</fieldset>
		</form>
	</div>
	<div class="col-lg-12 col-xl-6">
		<h4>Promotions</h4>
		<hr>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Lastest view</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Promotion1</td>
						<td>2018-05-23</td>
						<td>
							<i class="fa fa-heart" aria-hidden="true"></i>
						</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Promotion2</td>
						<td>2018-05-23</td>
						<td>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Promotion3</td>
						<td>2018-05-23</td>
						<td>
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-lg-12 col-xl-6">
		<h4>Log viewer</h4>
		<hr>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Activity</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>View Promotion 3</td>
						<td>2018-05-23</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>View Promotion 2</td>
						<td>2018-05-23</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Favorite Promotion 1</td>
						<td>2018-05-23</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td>View Promotion 1</td>
						<td>2018-05-23</td>
					</tr>
					<tr>
						<th scope="row">5</th>
						<td>Register via facebook</td>
						<td>2018-05-23</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>