.img-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.img-container img {
    width: 100%;
    height: auto;
}
.img-container > a{
    height:100%;
}

.img-container > a > .action-bar {
    display: none;
    padding: 4px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
}

.img-container > a:hover > .action-bar {
    background-color: #555;
    display: block;
}
.img-container > a > .action-bar > .btn:not(:first-child) {
    margin-left: 2px;
}
[type="file"]{
    opacity: 0;
    position: absolute;
}