.mat-column-userName {
  flex: 0 0 60%;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 20%;
}

.mat-column-address {
  flex: 0 0 45%;
}

.mat-column-status {
  flex: 0 0 15%;
}

.mat-column-controller {
  flex: 0 0 10%;
}

.bt_create {
  float: right;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  
  .mat-icon.md-14 {
    font-size: 14px;
  }
  
  .mat-icon.md-18 {
    font-size: 18px;
  }
  
  .mat-icon.md-24 {
    font-size: 24px;
  }
  
  .mat-icon.md-36 {
    font-size: 36px;
  }
  
  .mat-icon.md-48 {
    font-size: 48px;
  }
  
  
  .mat-icon {
    vertical-align: middle;
  }