<div mat-dialog-title>
  <h1>{{data.head}}</h1>
</div>
<div mat-dialog-content>
  <p>{{data.content}}</p>
</div>
<div mat-dialog-content>
  <p [innerHTML]="data.description"></p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCloseConfirm()" cdkFocusInitial>OK</button>
</div>