<div class="loading-indicator" *ngIf="loading$ | async">
    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</div>
<div>
    <div class="card-body table-responsive">
        <form [formGroup]="eventCreatorForm">
            <div>
                <fieldset class="form-group">
                    <fieldset class="form-group" style="margin-left: 1.6%">
                        <div class="row">
                            <label class="col-form-label">Place Name</label>
                            <label style="margin-left: 4px" class="col-form-label" *ngIf="hasPlace$ | async">{{currentPlace.name}}</label>
                        </div>
                    </fieldset>
                    <div [formGroup]="eventCreatorForm.controls['place']" *ngIf="choicePlace$ | async">
                        <mat-select placeholder="Please Enter Place Name." [formControl]="eventCreatorForm.controls['place']" [disabled]="addbooth$ | async"
                            #singleSelect>
                            <ngx-mat-select-search placeholder="Place Name" [formControl]="placeFilterCtrl"> </ngx-mat-select-search>
                            <mat-option *ngFor="let place of places" [value]="place">
                                <span>{{ place.name }}</span>
                            </mat-option>
                        </mat-select>
                        <div *ngIf="!eventCreatorForm.controls['place'].valid" class="alert alert-danger">You must choice place.</div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div [ngClass]="{'has-error':!eventCreatorForm.controls['name'].valid && eventCreatorForm.controls['name'].touched}">
                        <label>Event Name</label>
                        <input class="form-control" rows="2" [formControl]="eventCreatorForm.controls['name']" />
                        <div *ngIf="!eventCreatorForm.controls['name'].valid" class="alert alert-danger">You must add a event name.</div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" rows="3" [formControl]="eventCreatorForm.controls['description']"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <mat-slide-toggle [formControl]="eventCreatorForm.controls['status']" color="primary" (change)="onActiveChange($event)" required>
                        {{activeStatus}}
                    </mat-slide-toggle>
                </fieldset>
                <div class="form-group" *ngIf="editEvent$ | async">
                    <button type="button" class="btn btn-primary" (click)="save(eventCreatorForm.value)" [disabled]="!eventCreatorForm.valid">Save</button>
                </div>
                <div class="form-group" *ngIf="createEvent$ | async">
                    <button type="button" class="btn btn-primary" [disabled]="!eventCreatorForm.valid" (click)="create(eventCreatorForm.value)">Create</button>
                    <button type="button" class="btn btn-default" style="margin-left: 5px" (click)="reset()">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row" *ngIf="addbooth$ | async">
        <div class="col col-lg-4 col-sm-6 col-xs-12">
            <div class="card card-default mb-3">
                <div class="card-header">
                    Booths
                </div>
                <div class="card-body table-responsive">
                    <ul *ngFor="let booth of currentEvent.booths" class="list-group">
                        <li class="list-group-item" [class.active]="booth === currentBooth" (click)="onClickBooth(booth)">
                            <button mat-icon-button color="warn" class="float-right" (click)="deleteBooth(booth)">
                                <mat-icon fontSet="fa" fontIcon="fa-trash-o" style="left: 5%"></mat-icon>
                            </button>
                            {{booth.name}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <fieldset class="form-group" [formGroup]="boothCreatorForm">
                        <div class="form-group input-group">
                            <input class="form-control" type="text" [formControl]="boothCreatorForm.controls['name']" placeholder="Type your booth name here...">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" [disabled]="!boothCreatorForm.valid" (click)="addBooth(boothCreatorForm.value)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="!boothCreatorForm.controls['name'].valid" class="alert alert-danger" style="margin-top: -10px">You must add a booth name.</div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-sm-6 col-xs-12" *ngIf="addpromotion$ | async">
            <div class="card card-default mb-3">
                <div class="card-header">
                    Promotion of {{currentBooth.name}}
                </div>
                <div class="card-body table-responsive">
                    <ul *ngFor="let promotion of currentBooth.promotions" class="list-group">
                        <li class="list-group-item" [class.active]="promotion === currentPromotion" (click)="onPromotionClick(promotion)">
                            <button mat-icon-button color="warn" class="float-right" (click)="deletePromotion(promotion)">
                                <mat-icon fontSet="fa" fontIcon="fa-trash-o" style="left: 5%"></mat-icon>
                            </button>
                            {{promotion.name}}
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <fieldset class="form-group" [formGroup]="promotionCreatorForm">
                        <div class="form-group input-group">
                            <input class="form-control" type="text" [formControl]="promotionCreatorForm.controls['name']" placeholder="Type your promotion name here...">
                            <div class="input-group-append">
                                <button class="btn btn-success" type="button" [disabled]="!promotionCreatorForm.valid" (click)="addPromotion(promotionCreatorForm.value)">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="!promotionCreatorForm.controls['name'].valid" style="margin-top: -10px" class="alert alert-danger">You must add a promotion name.</div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-sm-12 col-xs-12 " *ngIf="editpromotion$ | async">
            <div class="card card-default mb-3">
                <div class="card-header">
                    {{currentPromotion.name}}
                </div>
                <div class="card-body table-responsive">
                    <div class="img-container" style="margin: auto">
                        <a>
                            <img class="img-thumbnail"  src="http://placehold.it/400x400" alt="">
                            <div class="action-bar">
                                <button class="btn">
                                    <i class="fa fa-upload"></i>
                                </button>
                                <button class="btn">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </div>
                        </a>
                    </div>
                    <fieldset class="form-group" style="margin-left: 5%">
                        <div class="row">
                            <label class="col-form-label">Event : </label>
                            <label class="col-form-label">{{currentEvent.name}}</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group" style="margin-left: 5%">
                        <div class="row">
                            <label class="col-form-label">Booth : </label>
                            <label class="col-form-label">{{currentBooth.name}}</label>
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div>
                            <label>Description</label>
                            <textarea class="form-control" rows="3" [ngModel]="currentPromotion.description"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-right" type="button" (click)="onSavePromotionClick(promotionCreatorForm.value)">
                        <i class="fa fa-save"> Save</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>