<div>
    <app-page-header [heading]="'Place Management'" [icon]="'fa fa-fw fa-home'"></app-page-header>
    <div class="loading-indicator" *ngIf="loading$ | async">
        <mat-progress-spinner style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-12">
                <div class="card-header">
                    <button mat-icon-button color="default" [routerLink]="['../../place-list']">
                        <mat-icon class="md-24" fontSet="fa" fontIcon="fa-angle-left"></mat-icon>
                    </button>
                    Place Editor
                </div>
                <!-- class="container was-validated" novalidate="" -->
                <div class="card-body table-responsive">
                    <form [formGroup]="placeEditorForm" (ngSubmit)="edit(placeEditorForm.value)">
                        <div class="row">
                            <div class="col-xl-6">
                                <fieldset class="form-group">
                                    <div [ngClass]="{'has-error':!placeEditorForm.controls['name'].valid && placeEditorForm.controls['name'].touched}">
                                        <label>Place Name</label>
                                        <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['name']" />
                                        <div *ngIf="placeEditorForm.controls['name'].hasError('required') && placeEditorForm.controls['name'].touched" class="alert alert-danger">You must add a place name.</div>
                                    </div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" rows="3" [formControl]="placeEditorForm.controls['address']"></textarea>
                                    <div *ngIf="placeEditorForm.controls['address'].hasError('required') && placeEditorForm.controls['address'].touched" class="alert alert-danger">You must add a address.</div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Postcode</label>
                                    <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['postcode']" />
                                </fieldset>
                                <fieldset class="form-group" [ngClass]="{'has-error':!placeEditorForm.controls['tel'].hasError('required')}">
                                    <label>Tel Number</label>
                                    <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['tel']" />
                                    <div *ngIf="placeEditorForm.controls['tel'].hasError('required') && placeEditorForm.controls['tel'].touched" class="alert alert-danger">Tel Number is required.</div>
                                </fieldset>
                                <fieldset class="form-group" [ngClass]="{'has-error':!placeEditorForm.controls['email'].valid}">
                                    <label>Email</label>
                                    <input class="form-control" name="email" rows="3" type="email" placeholder="John@doe.com" [formControl]="placeEditorForm.controls['email']"
                                    />
                                    <div *ngIf="!placeEditorForm.controls['email'].valid" class="alert alert-danger">email pattern is invalid.</div>
                                </fieldset>
                            </div>
                            <div class="col-xl-6">
                                <fieldset class="form-group">
                                    <label>Website</label>
                                    <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['website']" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Latitude</label>
                                    <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['latitude']" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Longitude</label>
                                    <input class="form-control" rows="3" [formControl]="placeEditorForm.controls['longitude']" />
                                </fieldset>
                                <fieldset class="form-group">
                                    <label>Floorplan</label>
                                    <input class="form-control" id='avatar' type='file' multiple (change)="readUrl($event)" [formControl]="placeEditorForm.controls['floorplan']">
                                    <img [src]="floorPlanUrl" alt="img" class="img-responsive" width="300">
                                </fieldset>
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <mat-slide-toggle [formControl]="placeEditorForm.controls['isActive']" color="primary" (change)="onActiveChange($event)" required>
                                {{activeStatus}}
                            </mat-slide-toggle>
                        </fieldset>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="!placeEditorForm.valid">Save</button>
                            <button type="button" class="btn btn-default" style="margin-left: 5px" (click)="reset()">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
